
.hyunsoo-title-container {
  z-index:10;
  margin-top: 0px;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  background-image: url(
   ./hellp.JPG 
  );

  color:#ffffff;
  font-weight: 1000;
  border-style:solid;
  border-color:transparent;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4);
}


.hyunsoo-title{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:100px;
}



.page5-main{
  width: 100vw;
  height: 100vh;
}

.hyunsoo-container{
  z-index: 2;
  width:70vw;
  height: 70vh;
  position: relative;
  margin-left:15%;
  margin-top: 5%;
  overflow:hidden;
}
.hyunsoo-container input[type=radio]{
  display: none;
}

ul.imgs{
  padding: 0;
  margin: 0;
  list-style: none;    
}

ul.imgs li{
  position: absolute;
  left: 100%;
  padding: 0;
  margin: 0;
}

.slide-img1{
  width:70vw;
  height: 70vh;
object-fit: contain;
}
.slide-img2{
  width:70vw;
  height: 70vh;
object-fit: contain;
}
.slide-img3{
  width:70vw;
  height: 70vh;
object-fit: contain;
}
.slide-img4{
  width:70vw;
  height: 70vh;
object-fit: contain;
}
.hyunsoo-container input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.hyunsoo-container input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.hyunsoo-container input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.hyunsoo-container input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
  left: 0;
  transition: 0.5s;
  z-index:1;
}

.bullets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 1000;
}
.bullets label{
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.hyunsoo-container input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: #fff;
}
.hyunsoo-container input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: #fff;
}
.hyunsoo-container input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: #fff;
}
.hyunsoo-container input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
  background-color: #fff;
}





