html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




html, body{
  width: 100%;
  height: 100%;
  margin:auto 0;
  padding:0;
}
.index-page{
  text-decoration: none;
  color:black;
}
.header1{
  font-family: 'Raleway', sans-serif;
  margin-top:30px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  color: black;
  &:hover{
    transform: scale(1.2);
    transition: .5s;
  }
}

.title-container {
  margin-top: 20%;
}

.select-page{
  text-decoration: none;
}

#title1{
  margin-left:10%;
  margin-right:10%;
  padding-right: 10%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:120px;
  color: black;
  display:inline;
  &:hover{
    background-color: yellow;
    text-decoration: underline;
    transition:.5s;
    border-top: 50px solid antiquewhite;
    border-right: 50px solid brown;
    transform:matrix(0,0,0,-10px,0);
  }
  &:not(hover){
    text-decoration: none;
    transition:.3s;
  }
}
#title2{
  margin-left:20%;
  padding-left: 15%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:120px;
  color: black;
  display:inline;
  &:hover{
  background-color: yellow;
  text-decoration: underline;
  transition:.5s;
  border-top: 50px solid antiquewhite;
  border-left: 50px solid brown;
  }
  &:not(hover){
    text-decoration: none;
    transition:.3s;
  }
}
a{
  transition-delay: 2s;
}