html, body{
  width: 100%;
  height: 100%;
  margin:auto 0;
  padding:0;
}

.title-container {
  padding:20%;
  animation-duration:1s;
  animation-name: title-anim;
}

.select-page{
  text-decoration: none;
}

#title{
  
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:120px;

  background: linear-gradient(90deg,rgb(100,100,0), rgb(53, 73, 198));
  color: transparent;
  -webkit-background-clip: text;
  
  &:hover{
  transform: scale(1.1);
  transition:.5s;
  }
}


a{
  transition-delay: 2s;
}
