.date-container{
  top: 20px;
  position:relative;
  width: 300px;
  height:150px;
  margin:30px auto;
  border: 0px solid;
  }
  .date-container span{position: absolute; background: darkblue;}
  
  .date-container  span:nth-child(1) {left: 0; top: 0; width: 0; height: 2px; transition: width 0.1s;}
  .date-container  span:nth-child(2) {right: 0; top: 0; width: 2px; height: 0; transition: height 0.1s linear 0.1s;}
  .date-container  span:nth-child(3) {right: 0; bottom: 0; width: 0; height: 2px; transition: width 0.1s linear 0.2s;}
  .date-container  span:nth-child(4) {left: 0; bottom: 0; width: 2px; height: 0; transition: height 0.1s linear 0.3s;}
  
  
  .date-container :hover span:nth-child(1) {width: 100%;}
  .date-container :hover span:nth-child(2) {height: 100%;}
  .date-container :hover span:nth-child(3) {width: 100%;}
  .date-container :hover span:nth-child(4) {height: 100%;}
#tt{
  cursor: pointer;
  font-size:100px;
  color: #2c3e50;
  z-index: 1000px;
  padding-top: 20px;
  padding-bottom: 30px;
  position: flex;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-clip: text;
}
#tt:hover{
  color:white;
  background: rgb(0, 0, 0) ;
  animation-name: ggs;
  animation-duration: 3s;
 }

.artist-container{
  align-items: center;
  size: 100px;
  display: flex;
  float: left;
  margin-top:100px;
  margin-left: 30px;
  margin-right: 10px;
  display:block;
  cursor: pointer;
  animation-duration: 4s;
  animation-name:fade;
}
@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.artist-page{
z-index: 0;
width: 30vw;
background-size: fill;
width: 22vw;
height: 30vh;
background-repeat: no-repeat;
background-position: 50% 50%;
background-color:rgb(11, 101, 71);
border: none;
cursor: pointer;

&:hover {
  transform: scale(1.3);
  transition:.5s;
 }
 &:not(:hover) {
  transform:scale(1);
  transition:.3s;
 }
}

.artist-page-1 {
  background-image: url(./a.png);

 }
.artist-page-2 {
  background-image: url(./b.png) ;
}
.artist-page-3 {
  background-image: url(./c.png);
 }
 .artist-page-4 {
  background-image: url(./d.png);
 }

a{
  transition-delay: .5s;
}

.artist-name{
  padding-left:0px;
  padding-top:1%;
  color: rgb(216, 255, 196);
  text-align:center;
  z-index:1;
}

#first-name:hover{
  background: rgb(84, 41, 224);
  color: white;
 transition:0.5s;
}

#second-name:hover{
  background: rgb(100, 100, 0);
  color: white;
 transition:0.5s;
}

#third-name:hover{
  background: rgb(89, 7, 63);
  color: white;
 transition:0.5s;
}

#fourth-name:hover{
  background: rgb(11, 101, 71);
  color: white;
 transition:0.5s;
}


.popup{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:0;
  left:0;
  position:fixed;
  width: 100vw;
  height: 100vh;
 
  z-index: 300;
  &-img {
    position: fixed;
  
    width: 700px;
    height: 500px;
    object-fit: cover;
  }
}

#popup-1, #popup-2, #popup-3, #popup-4 {
  width: 700px;
  height: 500px;
  background-color: rgba(205, 205, 205, 0.5);
  justify-content: center;
  display: none;
  padding: 10px;
  background-color: none;
}


.close{  
  cursor: pointer;
  width: 20px;
  height:20px;
  background-color: none;

  position:fixed;
  z-index:1000;
}
