.title-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  animation-duration: 2s;
  animation-name:fade;
}

@keyframes fade{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.select-page{
  text-decoration: none;
}

#title1{
  display: flex;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:120px;
  color: black;
  &:hover{
    background-color: rgb(245, 143, 199);
    transition:.5s;
    border-top: 50px solid antiquewhite;
    border-right: 50px solid brown;
  }
  &:not(hover){
    text-decoration: none;
    transition:.3s; 
  }
}
#title2{
  display: flex;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:120px;
  color: black;
  &:hover{
  background-color: yellow;
  transition:.5s;
  border-top: 50px solid antiquewhite;
  border-left: 50px solid rgb(122, 136, 66);
  }
  &:not(hover){
    text-decoration: none;
    transition:.3s;
  }
}
a{
  transition-delay: 2s;
}
